.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height:100vh;
}



.login_image{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 90px;
    margin-right: auto;
    margin-left: auto;
}

.login_container{
    width:300px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgray;
    padding:20px;
}
.login_container>h1{
    font-weight:500;
    margin-bottom: 20px;
}
.login_container>form>h1{
    margin-bottom: 5px;
}
.login_container>form>input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width:98%
}
.login_container>p{
    margin-top: 15px;
    font-size: 12px;
}
.login_signin_button{
    background: #1ee91e;
    border: 1px solid;
    margin-top: 10px;
    border-color: #089408;
    color: #111;
    padding: 5px;
    font-weight: 500;
    font-size: 17px;
    height: 30px;
    text-align: center;
    width:100%;
    border-radius: 5px;
}
.login_register_button{
    margin-top: 10px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    width:100%;
    border-radius: 2px;
    font-weight: 500;
    font-size: 17px;
}